@using MvcTicariOtomasyon.Models.Sınıflar
@model List<Urun>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Ürün Listesi</h2>
<br />
<a href="/Urun/urunEkle/" class="btn btn-primary" style="margin-bottom:20px;">Yeni Ürün Ekle</a>
<table class=" table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ürün</th>
            <th>Marka</th>
            <th>Stok</th>
            <th>Aliş Fiyatı</th>
            <th>Satış Fiyatı</th>
            <th>Kategori</th>
            <th>Görsel</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    @foreach (var urn in Model)
    {


        <tr>
            <th>@urn.urunID</th>
            <td>@urn.urunAd</td>
            <td>@urn.urunmarka</td>
            <td>@urn.urunStok</td>
            <td>@urn.urunAlisFiyat</td>
            <td>@urn.urunSatisFiyat</td>
            <td>@urn.Kategori.kategoriAd</td>
            <td>@urn.urunGorsel</td>
            <td> <a href="/Urun/urunSil/@urn.urunID" class="btn btn-danger">Sil</a> </td>
            <td> <a href="/Urun/urunGetir/@urn.urunID" class="btn btn-success">Güncelle</a></td>
        </tr>

    }



</table>

