@model MvcTicariOtomasyon.Models.Sınıflar.Faturalar
@{
    ViewBag.Title = "faturaEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Yeni Fatura Ekleme Sayfası</h2>
<br />

<form class=" form-group" method="post">

    <label>SeriNo</label>
    @Html.TextBoxFor(x => x.faturaSeriNo, new { @class = "form-control" })
    <br />
    <label>SıraNo</label>
    @Html.TextBoxFor(x => x.faturaSıraNo, new { @class = "form-control" })
    <br />
    <label>Toplam</label>
    @Html.TextBoxFor(x => x.faturaToplam, new { @class = "form-control" })
    <br />
    <label>Vergi Dairesi</label>
    @Html.TextBoxFor(x => x.faturaVergiDairesi, new { @class = "form-control" })
    <br />
    <label>Teslim Eden</label>
    @Html.TextBoxFor(x => x.faturaTeslimEden, new { @class = "form-control" })
    <br />
    <label>Teslim Alan</label>
    @Html.TextBoxFor(x => x.faturaTeslimAlan, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Fatura Ekle</button>

</form>

