@using MvcTicariOtomasyon.Models.Sınıflar
@model List<SatisHareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
<link href="~/startbootstrap/css/styles.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>





<br />
<h2>Yapılan Satış Listesi</h2>
<br />
@*<a href="/Satis/satisYap/" class="btn btn-primary" style="margin-bottom:40px;">Yeni Satiş Yap</a>*@

<table class="table text-center" id="tbl1">
    <thead>
        <tr>
            <th>Urun Adı</th>
            <th>Cari Adı</th>
            <th>Fiyat</th>
            <th>Adet</th>
            <th>Toplam Tutar</th>
           
            <th>Güncelle</th>
            <th>Detay</th>

        </tr>
    </thead>

    @foreach (var satisHareket in Model)
    {
<tr>
    <td>@satisHareket.Urun.urunAd</td>
    <td>@satisHareket.Cariler.cariAd @satisHareket.Cariler.cariSoyad</td>
    <td>@satisHareket.satisHateketFiyat ₺</td>
    <td>@satisHareket.satisHateketAdet</td>
    <td>@satisHareket.satisHateketToplamTutar ₺</td>
    
    <td>
        <a href="/Satis/satisGetir/@satisHareket.satisHateketID" class="btn btn-warning">Güncelle</a>
    </td>
    <td>
        <a href="/Satis/satisDetay/@satisHareket.satisHateketID" class="btn btn-success">Satış Detayı</a>
    </td>
</tr>
    }


</table>


@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>

    $('#tbl1').dataTable({});

</script>